/************************************************
 Common
************************************************/
#dora {
	width: 330px;
	height: 490px;
	background-color: white;
}

#dora,
#dora * {
	position: absolute;
	overflow: hidden;
}

.circle {
	overflow: visible !important;
}

.circle2 {
	width: 200px;
	height: 200px;
}

.circle_0 {
	width: 50%;
	height: 100%;
	left: 0;
	top: 0;
}

.circle_0_0 {
	width: 100%;
	height: 100%;
	left: 100%;
	top: 0;
	transform-origin: 0 50%;
}

.circle_0_0 > div {
	left: -100%;
	top: 0;
}

.circle_1 {
	width: 50%;
	height: 100%;
	left: 50%;
	top: 0;
}

.circle_1_0 {
	width: 100%;
	height: 100%;
	left: -100%;
	top: 0;
	transform-origin: 100% 50%;
}

.circle_1_0 > div {
	left: 0;
	top: 0;
}

.circle_0_0 > div,
.circle_1_0 > div {
	border: 5px solid #000;
	border-radius: 50%;
}

.straight {
	width: 5px;
}

.straight > div {
	width: 100%;
	left: 0;
	top: 0;
	background-color: #000;
}

/************************************************
 Parts
*************************************************
/************************************************
	まるかいてちょん　まるかいてちょん
************************************************/

#eyeL,
#eyeR {
	transform: scale(1, 1.4);
}

#eyeL {
	left: 100px;
	top: 30px;
}

#eyeR {
	left: 155px;
	top: 30px;
}

.eye .circle2 {
	width: 60px;
	height: 60px;
}

.eye > div > div > div > div {
	width: 50px;
	height: 50px;
}

#chon1,
#chon2 {
	top: 30px;
	width: 15px;
	height: 15px;
	background-color: #000;
	border-radius: 100%;
	transform: scale(0);
}

#chon1 {
	left: 37px;
}

#chon2 {
	left: 8px;
}

/************************************************
	おまめに　めがでて
************************************************/

#nose {
	left: 137px;
	top: 100px;
}

#nose .circle2 {
	width: 40px;
	height: 40px;
}

#nose > div > div > div > div {
	width: 30px;
	height: 30px;
}

#undernose {
	height: 30px !important;
	left: 155px;
	top: 136px;
}

/************************************************
	植木鉢ー植木鉢ー
************************************************/

#uekibati1 {
	left: 55px;
	top: 40px;
}

#uekibati1 .circle2 {
	width: 240px;
	height: 240px;
	transform: rotate(37deg);
}

#uekibati1 > div > div > div > div {
	width: 230px;
	height: 230px;
}

#uekibati1_2 {
	height: 120px !important;
	left: 155px;
	top: 193px;
	transform: rotate(90deg);
}

#uekibati1_3 {
	left: 22px;
	top: 40px;
}

#uekibati1_3 .circle2 {
	width: 240px;
	height: 240px;
	transform: rotate(217deg);
}

#uekibati1_3 > div > div > div > div {
	width: 230px;
	height: 230px;
}

#uekibati2 {
	left: 23px;
	top: 0;
}

#uekibati2 .circle2 {
	width: 270px;
	height: 270px;
	transform: rotate(25deg);
}

#uekibati2 > div > div > div > div {
	width: 260px;
	height: 260px;
}

/************************************************
	ろくがつ むいかに
************************************************/
#six1 {
	left: 10px;
	top: 240px;
	transform: scale(1, 1.2);
}

#six1 .circle2 {
	width: 270px;
	height: 270px;
	transform: rotate(-20deg);
}

#six1 > div > div > div > div {
	width: 260px;
	height: 260px;
}

#six2 {
	left: 35px;
	top: 240px;
	transform: scale(1, 1.2);
}

#six2 .circle2 {
	width: 270px;
	height: 270px;
	transform: rotate(-160deg);
}

#six2 > div > div > div > div {
	width: 260px;
	height: 260px;
}

#six1_0 {
	left: 18px;
	top: 320px;
}

#six1_0 .circle2 {
	width: 70px;
	height: 70px;
	transform: rotate(-70deg) !important;
}

#six1_0 > div > div > div > div {
	width: 60px;
	height: 60px;
}

#six2_0 {
	left: 228px;
	top: 320px;
}

#six2_0 .circle2 {
	width: 70px;
	height: 70px;
	transform: rotate(-110deg) !important;
}

#six2_0 > div > div > div > div {
	width: 60px;
	height: 60px;
}

/************************************************
	UFOが
************************************************/

#ufo1 {
	left: 137px;
	top: 252px;
}

#ufo1 .circle2 {
	width: 40px;
	height: 40px;
}

#ufo1 > div > div > div > div {
	width: 30px;
	height: 30px;
}

#ufo2 {
	height: 32px !important;
	left: 156px;
	top: 260px;
	transform: rotate(90deg);
}

/************************************************
	あっちいって　こっちいって
************************************************/

#ufoL {
	height: 50px;
	left: 198px;
	top: 250px;
	transform: rotate(-90deg);
}

#ufoL_1 {
	height: 20px;
	left: 225px;
	top: 257px;
	transform: rotate(180deg);
}

#ufoR {
	height: 50px;
	left: 111px;
	top: 250px;
	transform: rotate(90deg);
}

#ufoR_1 {
	height: 20px;
	left: 88px;
	top: 257px;
	transform: rotate(180deg);
}

/************************************************
	おっこちてー
************************************************/
#bodyR {
	height: 155px;
	left: 85px;
	top: 270px;
	transform: rotate(2deg);
}

#bodyL {
	height: 155px;
	left: 228px;
	top: 270px;
	transform: rotate(-2deg);
}

/************************************************
	おいけがふたつ　できました
************************************************/
.ike {
	transform: scale(1.4, .8);
}

#ikeR {
	left: 61px;
	top: 420px;
}

#ikeL {
	left: 157px;
	top: 420px;
}

.ike .circle2 {
	width: 70px;
	height: 70px;
}

.ike > div > div > div > div {
	width: 60px;
	height: 60px;
}

/************************************************
	おいけにおふねを　うかべたら
************************************************/
#ike2 {
	left: 98px;
	top: 255px;
	transform: scale(1, 1.2);
}

#ike2 .circle2 {
	width: 120px;
	height: 120px;
	transform: rotate(40deg) !important;
}

#ike2 > div > div > div > div {
	width: 110px;
	height: 110px;
}

#fune0 {
	height: 82px !important;
	left: 156px;
	top: 285px;
	transform: rotate(-90deg);
}

#fune1 {
	left: 117px;
	top: 285px;
}

#fune1 .circle2 {
	width: 82px;
	height: 82px;
	transform: rotate(-90deg);
}

#fune1 > div > div > div > div {
	width: 72px;
	height: 72px;
}

/************************************************
	おそらにみかづき　のぼってた
************************************************/
#mouse0 {
	height: 130px !important;
	left: 156px;
	top: 100px;
	transform: rotate(-90deg);
}

#mouse1 {
	left: 93px;
	top: 100px;
}

#mouse1 .circle2 {
	width: 130px;
	height: 130px;
	transform: rotate(-90deg);
}

#mouse1 > div > div > div > div {
	width: 120px;
	height: 120px;
}

/************************************************
	ひげをつけたら　どらえもん
************************************************/
.hige {
	height: 60px;
}

#hige0,
#hige5 {
	transform: rotate(-80deg);
}

#hige1,
#hige4 {
	transform: rotate(-90deg);
}

#hige2,
#hige3 {
	transform: rotate(-100deg);
}

#hige0 {
	left: 70px;
	top: 80px;
}

#hige1 {
	left: 70px;
	top: 100px;
}

#hige2 {
	left: 70px;
	top: 120px;
}

#hige3 {
	left: 240px;
	top: 80px;
}

#hige4 {
	left: 240px;
	top: 100px;
}

#hige5 {
	left: 240px;
	top: 120px;
}

/************************************************
 Animations
************************************************/

.circle_0_0,
.circle_1_0 {
	animation-name: circle_anim180;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

.straight > div {
	animation-name: straight_anim;
	animation-timing-function: linear;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

#chon1,
#chon2 {
	animation-name: chon_anim;
	animation-fill-mode: forwards;
}

@keyframes circle_anim180 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(180deg);
	}
}

@keyframes circle_anim180m {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-180deg);
	}
}

@keyframes circle_anim50 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(50deg);
	}
}

@keyframes circle_anim50m {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(-50deg);
	}
}

@keyframes circle_anim100 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(100deg);
	}
}

@keyframes circle_anim105 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(105deg);
	}
}

@keyframes circle_anim130 {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(130deg);
	}
}

@keyframes chon_anim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@keyframes straight_anim {
	0% {
		height: 0;
	} 100% {
		height: 100%;
	}
}

#eyeL .circle_0_0 {
	animation-duration: 700ms;
	animation-delay: 6500ms;
}

#eyeL .circle_1_0 {
	animation-duration: 700ms;
	animation-delay: 7200ms;
}

#chon1 {
	animation-duration: 500ms;
	animation-delay: 7900ms;
}

#eyeR .circle_0_0 {
	animation-duration: 700ms;
	animation-delay: 8900ms;
}

#eyeR .circle_1_0 {
	animation-duration: 700ms;
	animation-delay: 9600ms;
}

#chon2 {
	animation-duration: 500ms;
	animation-delay: 10300ms;
}

#nose .circle_0_0 {
	animation-duration: 500ms;
	animation-delay: 11300ms;
}

#nose .circle_1_0 {
	animation-duration: 500ms;
	animation-delay: 11800ms;
}

#undernose > div {
	animation-duration: 700ms;
	animation-delay: 12800ms;
}

#uekibati1_3 .circle_0_0 {
	animation-name: circle_anim105 !important;
	animation-duration: 900ms;
	animation-delay: 13850ms;
}

#uekibati1_2 > div {
	animation-duration: 800ms;
	animation-delay: 14750ms;
}

#uekibati1 .circle_0_0 {
	animation-name: circle_anim105 !important;
	animation-duration: 900ms;
	animation-delay: 15550ms;
}

#uekibati2 .circle_0_0 {
	animation-duration: 1100ms;
	animation-delay: 16850ms;
}

#uekibati2 .circle_1_0 {
	animation-name: circle_anim130 !important;
	animation-duration: 750ms;
	animation-delay: 17950ms;
}

#six1 .circle_0_0 {
	animation-name: circle_anim50m !important;
	animation-duration: 500ms;
	animation-delay: 19200ms;
}

#six1_0 .circle_0_0 {
	animation-name: circle_anim180m !important;
	animation-duration: 400ms;
	animation-delay: 19700ms;
}

#six1_0 .circle_1_0 {
	animation-name: circle_anim180m !important;
	animation-duration: 400ms;
	animation-delay: 20100ms;
}

#six2 .circle_0_0 {
	animation-name: circle_anim50 !important;
	animation-duration: 500ms;
	animation-delay: 20500ms;
}

#six2_0 .circle_0_0 {
	animation-duration: 400ms;
	animation-delay: 20900ms;
}

#six2_0 .circle_1_0 {
	animation-duration: 400ms;
	animation-delay: 21300ms;
}

#ufo1 .circle_0_0 {
	animation-duration: 550ms;
	animation-delay: 22100ms;
}

#ufo1 .circle_1_0 {
	animation-duration: 550ms;
	animation-delay: 22650ms;
}

#ufo2 > div {
	animation-duration: 200ms;
	animation-delay: 23200ms;
}

#ufoL > div {
	animation-duration: 500ms;
	animation-delay: 24400ms;
}

#ufoL_1 > div {
	animation-duration: 200ms;
	animation-delay: 24900ms;
}

#ufoR > div {
	animation-duration: 500ms;
	animation-delay: 25100ms;
}

#ufoR_1 > div {
	animation-duration: 200ms;
	animation-delay: 25600ms;
}

#bodyR > div {
	animation-duration: 700ms;
	animation-delay: 26500ms;
}

#bodyL > div {
	animation-duration: 700ms;
	animation-delay: 27200ms;
}

#ikeR .circle_0_0 {
	animation-duration: 700ms;
	animation-delay: 28900ms;
}

#ikeR .circle_1_0 {
	animation-duration: 700ms;
	animation-delay: 29600ms;
}

#ikeL .circle_0_0 {
	animation-duration: 700ms;
	animation-delay: 30500ms;
}

#ikeL .circle_1_0 {
	animation-duration: 700ms;
	animation-delay: 31200ms;
}

#ike2 .circle_1_0 {
	animation-duration: 900ms;
	animation-delay: 33700ms;
}

#ike2 .circle_0_0 {
	animation-name: circle_anim100 !important;
	animation-duration: 500ms;
	animation-delay: 34600ms;
}

#fune0 > div {
	animation-duration: 800ms;
	animation-delay: 35500ms;
}

#fune1 .circle_0_0 {
	animation-duration: 1400ms;
	animation-delay: 36300ms;
}

#mouse0 > div {
	animation-duration: 1000ms;
	animation-delay: 38900ms;
}

#mouse1 .circle_0_0 {
	animation-duration: 1700ms;
	animation-delay: 39900ms;
}

[id^=hige] > div {
	animation-duration: 500ms;
}

#hige0 > div {
	animation-delay: 43800ms;
}

#hige1 > div {
	animation-delay: 44350ms;
}

#hige2 > div {
	animation-delay: 44900ms;
}

#hige3 > div {
	animation-delay: 45450ms;
}

#hige4 > div {
	animation-delay: 46000ms;
}

#hige5 > div {
	animation-delay: 46550ms;
}
